body {
    background: rgb(255, 64, 129);
    background: linear-gradient(150deg, rgba(48, 63, 159, 1) 0%, rgba(255, 64, 129, 1) 52%);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}